
h1
{
	font-family: 'Dancing Script', cursive;
	color: white;
	font-size: 220%;
	text-shadow: 2px 2px #02010a;

}

a {
	font-family: 'Dancing Script', cursive;
	font-size: 200%;
}

h2 {

	font-family: 'Dancing Script', cursive;
	color: black;
	font-size: 180%;

}

h3 {

	font-family: 'Dancing Script', cursive;
	color: black;
	font-size: 150%;

}

body {
	width: 100%;
	height: 100%;
	background-color: #02010a;
}

#contenido {
	width: 960px;
	height: 100%;
	position: center;
	margin-left: auto;
	margin-right: auto;
	animation: animacion 1s;
}

@-webkit-keyframes animacion {

	0% {
		margin-top: 150%;
	}

	60% {
		margin-top: -5%;

	}

	100%{
		margin-top: 0%;

	}
}


#logo {

	width: 57%;
	height: 12%;
	background-color: #5b7989; 
	border-radius: 10px 0px 0px 0px;
	padding-left: 3%;
	float: left;

}

#menu {

	background-color: #5b7989;
	border-radius: 0px 10px 0px 0px;
	width: 40%;
	height: 12%;
	float: right;
}

ul {
    list-style-type: none;
    margin-top: 5%;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {

}


#imagen_principal {
	width: 100%;
	height: 550px;
	border-radius: 10px 10px 0px 0px;
	background-color: #82c3a6;
	text-align: center;
}

#imagen_principal img {

	border: 2px solid;
	margin-top: 20px;
}


#imagen_secundaria {
	width: 100%;
	height: 400px;
	background-color: #d5c75f;
	display: flex;
	flex-direction: row;

}

.imgsecond1 {

	width: 50%;
	height: 50%;
	text-align: center;
	order: 1;

}

.imgsecond1 img {
	box-shadow: 5px, 5px, 3px #82c3a6;
	border: 2px solid;
	transform: rotate();
	transition: 1s;
}

.imgsecond1 img:hover {
	transform: rotate(10deg);
}

.imgsecond2 {

	width: 50%;
	height: 50%;
	text-align: center;
	order: 2;

}

.imgsecond2 img {
	box-shadow: 5px, 5px, 3px #82c3a6;
	border: 2px solid;
	transform: translateX();
	transition: 1s;
}

.imgsecond2 img:hover {
	transform: translate(20px, -5px);
}

#pie {
	width: 100%;
	height: 40%;
	background-color: #C6d5c5;
	margin-bottom: 50px;
	border-radius: 0px 0px 10px 10px;
	display: flex;
	flex-direction: row;
}

#text1 {

	width: 25%;
	height: 100%;
	text-align: center;
	order: 1;

}

#text2 {

	width: 25%;
	height: 100%;
	text-align: center;
	order: 2;
}

#text3 {
	
	width: 25%;
	height: 100%;
	text-align: center;
	order: 3;
}

#text4 {
	
	width: 25%;
	height: 100%;
	text-align: center;
	order: 4;
}

#retratos1, #retratos2, #paisajes1, #paisajes2 {
	width: 100%;
	height: 300px;
	background-color: #d5c75f;
	text-align: center;
	display: flex;
	flex: wrap;
}

#foto1{
	margin-top: 20px;
	order: 1;
	-webkit-filter: blur(10px);
}

#foto2{
	margin-top: 20px;
	order: 2;
	-webkit-filter: grayscale(100%);
}

#foto3{
	margin-top: 20px;
	order: 3;
	-webkit-filter: sepia(90%);
}

#foto4{
	margin-top: 20px;
	order: 4;
	-webkit-filter: grayscale(100%);
}

#foto5{
	margin-top: 20px;
	order: 5;
}

#foto6{
	margin-top: 20px;
	order: 6;
	-webkit-filter: grayscale(100%);
}



@media screen and (max-width: 960px){

	a {
		font-size: 150%;
		margin: auto;
	}

	ul {
    	margin: auto;
    	text-align: center;
    
	}

	li {
		margin-right: auto;
		margin-left: auto;
    	
	}

	li a {
    	
	}

	#logo {

		width: 100%;
		height: 10%; 
		border-radius: 10px 10px 0px 0px;
		text-align: center;

	}

	#menu {

		width: 100%;
		height: 10%;
		float: right;
		border-radius: none;
	}



	#contenido {
		width: 100%;
		position: center;
		margin-left: auto;
		margin-right: auto;
	}

	#imagen_principal {
		width: 100%;
		height: 600px;
		margin-top: 10px;
	}

	#imagen_principal img {

		margin-top: 10px;
	}

	#imagen_secundaria {
		width: 100%;
		height: 300px;
	}

	
}

@media screen and (max-width: 640px){

	h1 {
		font-size: 180%;
	}

	a{
		font-size: 150%;
		margin: auto;
	}

	ul {
		margin-left: 30%;
	}

	#logo {
		width: 100%;
		border-radius: 10px 10px 0px 0px;
	}

	#menu {
		width: 100%;
		height: 10%;
		border-radius: none;

	}

	#imagen_principal {
		width: 100%;
		height: 470px;
	}

	#imagen_principal img {

		width: 100%;
		margin-top: 5px;
	}

	#imagen_secundaria {
		width: 100%;
		height: 750px;
		display: flex;
		flex-direction: column;
	}

	.imgsecond1, .imgsecond2 {

		width: 100%;
		height: 50%;
		text-align: center;
		
	}

	#pie {
		width: 100%;
		height: 1100px;
	
		margin-bottom: 50px;
		border-radius: 0px 0px 10px 10px;
		display: flex;
		flex-direction: column;
	}

	#retratos1, #retratos2, #paisajes1, #paisajes2 {
		width: 100%;
		height: 1250px;
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	#text1, #text2, #text3, #text4 {
		width: 100%
	}

}


@media screen and (max-width: 480px){
	h1 {
		font-size: 150%;
	}

	a {
		font-size: 120%;
		margin: auto;
	}

	ul {
		margin-left: 20%;
	}

	#logo {
		width: 100%;
		border-radius: 10px 10px 0px 0px;
	}

	#menu {
		width: 100%;
		height: 8%;
		border-radius: none;

	}

	#imagen_principal {
		width: 100%;
		height: 350px;
	}

	#imagen_principal img {

		width: 100%;
	}

	#imagen_secundaria {
		width: 100%;
		height: 500px;
		display: flex;
		flex-direction: column;
	}

	.imgsecond1 {

		width: 100%;
		height: 50%;
		text-align: center;
		order: 1;
		
	}

	.imgsecond2 {

		width: 100%;
		height: 50%;
		text-align: center;
		order: 2;
		
	}

	#pie {
		width: 100%;
		height: 1100px;
	
		margin-bottom: 50px;
		border-radius: 0px 0px 10px 10px;
		display: flex;
		flex-direction: column;
	}

	#text1, #text2, #text3, #text4 {
		width: 100%
	}

	#retratos1, #retratos2, #paisajes1, #paisajes2 {
		width: 100%;
		height: 800px;
		
		text-align: center;
		display: flex;
		flex-direction: column;
	}

	#foto1, #foto2, #foto3, #foto4, #foto5, #foto6, {
		width: 100%
	} 


	

	
}
